<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<link rel="stylesheet" type="text/css" href="../static/catalogo.css">
	<body>
		
			
			<div class="container">
				<h3>Catalogo</h3>
				
				
				
				<div th:each="producto : ${listaProductos}">
				
				<hr>
				<img src="${producto.getImg()}" alt="">
				<br>
				
				<form action="#" th:action="@{/login/pedido}" th:object="${producto}"  method="post">
				
				<label for="morde"><strong th:text="${producto.getNombre()}"></strong></label>
				<input type="number" name="morde" id="morde" value="0" th:field="*{cantidad}">
				<input type="hidden" value="${producto.getId()}" th:field="*{id}">
				<input type="hidden" value="${producto.getNombre()}" th:field="*{nombre}">
				<input type="hidden" value="${producto.getPrecio()}" th:field="*{precio}">
				
				

				<button type="submit" class="registerbtn">Añadir al carrito</button>
				
				<hr>
			  </form>
				
				</div>
			  
			  
		
				<br><br>
		
		
			 
					
					
					<fieldset><br>
						<form action="#" th:action="@{/login/resumen}" method="post">
				
				
				<button type="submit" class="registerbtn">Resumen Pedido</button>
		
				
		
				</fieldset>
				</div>
				
			   
		
		
		
		</body>

	
</html>