<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<link rel="stylesheet" href="css/index.css">

<header>

    
</header>
<body>

<p> hola</p>

</body>

<body>
    
<!-- 
    <form action="#" th:action="@{/login/submit}" method="post" th:object="${usuario}">
    
    
        <div class="container">
          <h3>Inicia Sesion</h3>
         
         
          <hr>
      <!-- 
          <label for="usuario"><strong>Usuario</strong></label>
         <input type="text" th:field="*{nombre}" placeholder="Enter user">

        <br>
 
          <label for="pass"><strong>Contraseña</strong></label>
              <input type="password" th:field="*{password}" placeholder="Enter pass" name="pass" id="pass" required>
      
-->
 
            
            
            <fieldset>
            
            <legend></legend>
                

            <button type="submit" class="registerbtn">Enviar</button>

        </fieldset>
        </div>
        
       
      </form>



</body>

<footer>


   
</footer>

</html>